# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws

# Eclipse
*.classpath
*.project
*.settings/

# VSCode
.vscode/

# Logs
logs/
*.log

# Banco de Dados (H2)
*.db
*.mv.db
*.trace.db

# Arquivos Temporários do Sistema
*.swp
*.swo
*.DS_Store
Thumbs.db

# Configurações Sensíveis
*.env
application.properties
application.yml

# Arquivos de Build
*.jar
*.war

# Testes Gerados
test-output/

# Configurações do Sistema Operacional
.DS_Store
desktop.ini

# Outros
*.bak
*.tmp
*.old
